.dock-outer {
  display: flex;
  max-width: 100%;
  align-items: center;
  position: fixed;
  top: 0.75rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  align-items: center;
  pointer-events: auto;
}


.dock-panel {
  position: fixed;
  top: 12px;
  bottom: .5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  align-items: flex-start;
  width: fit-content;
  gap: 1rem;
  pointer-events: auto;
  border-radius: 1rem;
  background-color: #a1a1aa;
  border: 1px solid rgb(2 44 34 / var(--tw-text-opacity, 1));;
  padding:  0.5rem 0.5rem 0;
}

.dock-item {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #a1a1aa;
  border: 1px solid rgb(2 44 34 / var(--tw-text-opacity, 1));;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  outline: none;
}

.dock-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dock-label {
  position: absolute;
  /* top: -1.5rem; */
  top: 100%;
  margin-top: 0.4rem;
  left: 50%;
  width: fit-content;
  white-space: pre;
  border-radius: 0.375rem;
  border: 1px solid rgb(2 44 34 / var(--tw-text-opacity, 1));;
  background-color: #a1a1aa;
  padding: 0.125rem 0.5rem;
  font-size: 0.75rem;
  color: rgb(0, 16, 0);
  transform: translateX(-50%);
}
