@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

.tilted-card-demo-text {
  text-transform: capitalize;
  color: rgb(0, 16, 0);
  letter-spacing: -.5px;
  background: #0006;
  border-radius: 15px;
  margin: 1em 5em;
  padding: .5rem 1em;
  font-family: Figtree;
  font-weight: 900;
  box-shadow: 0 5px 30px #06001059; 
  }

.not-white-green-bg{
  background-color: rgb(0, 16, 0);
}
